@page
@model RazorEventMaker23Class.Pages.Events.IndexModel
@{
    ViewData["Title"] = "List Events";
}

<h1>List of events</h1>

<p>
    <a asp-page="CreateEvent">Create a new event</a>
</p>

<form>
    search: <input type="text" asp-for="@Model.FilterCriteria"/>
    <input type="submit" value="Filter" />
</form>


<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Place</th>
            <th>Country</th>
            <th>DateTime</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Events)
       {
            <tr>
                <td>
                    <img src="~/images/eventimages/@item.EventImage" width="80" height="80" />
                </td>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.City</td>
                <td>@item.CountryCode</td>
                <td>@item.DateTime</td>
                <td><a asp-page="EditEvent" asp-route-id="@item.Id">Edit</a></td>
                <td><a asp-page="DeleteEvent" asp-route-deleteId="@item.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>